USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NGANHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [VD]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE USER [VD] FOR LOGIN [1] WITH DEFAULT_SCHEMA=[VD]
GO
/****** Object:  User [HTKN]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_CB73DB5EE0374E5BB5C218625DFA3FB2]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE ROLE [MSmerge_CB73DB5EE0374E5BB5C218625DFA3FB2]
GO
/****** Object:  DatabaseRole [MSmerge_045F852EA32146509D611875C57CAB18]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE ROLE [MSmerge_045F852EA32146509D611875C57CAB18]
GO
/****** Object:  DatabaseRole [MSmerge_000633000AB943489F4724ACFE622571]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE ROLE [MSmerge_000633000AB943489F4724ACFE622571]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_CB73DB5EE0374E5BB5C218625DFA3FB2]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_045F852EA32146509D611875C57CAB18]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_000633000AB943489F4724ACFE622571]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Schema [VD]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE SCHEMA [VD]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_NHANVIEN]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_NHANVIEN] AS
(SELECT MANV, HO, TEN, HO +''+ TEN AS HOTEN FROM dbo.NhanVien
ORDER BY TEN,HO OFFSET 0 ROWS)
GO
/****** Object:  View [dbo].[V_PHAI]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PHAI] AS
SELECT DISTINCT PHAI FROM NHANVIEN
GO
/****** Object:  View [dbo].[V_NHAN_VIEN]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_NHAN_VIEN] AS
SELECT MANV, HO, TEN, HO + '' + TEN AS HOTEN, TrangThaiXoa AS TRANGTHAIXOA FROM dbo.NhanVien
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server AND PUBS.description <> ''
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[SODUTKCHUYEN] [money] NULL,
	[SODUTKNHAN] [money] NULL,
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[SODU] [money] NULL,
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[CREATE_AT] [datetime] NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_693577509]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_693577509] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_757577737]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_757577737] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_661577395]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_661577395] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_629577281]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_629577281] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_725577623]    Script Date: 12/14/2021 2:26:28 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_725577623] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_783EFC385A4D44E1891ED32DA353DFC7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_96F6377197B347B8BEB3026905E18140]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_9C022899FE50422E8F42BD43D7D1FE11]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_E12D883406314F058DC75E7E23FD9024]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_480B759637674C45BAE4FA3D82C5E785]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [SODU]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [MSmerge_df_rowguid_81BFE918493746C2908F116CA7E72370]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_91001DE2_5E07_4335_97C5_A1B5D2672739] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_91001DE2_5E07_4335_97C5_A1B5D2672739]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_05CA70C2_976D_4267_ACA2_232CB990237F] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_05CA70C2_976D_4267_ACA2_232CB990237F]
GO
/****** Object:  StoredProcedure [dbo].[sp_Check_CMND]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Check_CMND](@CMND NCHAR(10))
AS
BEGIN
	DECLARE @res INT
	IF EXISTS (SELECT * FROM dbo.KhachHang WHERE CMND = @CMND)
	BEGIN
		SET @res = 1
	END
	ELSE
	BEGIN
		IF EXISTS (SELECT * FROM LINK0.NGANHANG.dbo.KhachHang WHERE CMND = @CMND)
		BEGIN
			SET @res = 2
		END
		ELSE
		BEGIN
			SET @res = 0
		END
	END
	SELECT RES = @res
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Check_MATK]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Check_MATK]
AS
BEGIN
	DECLARE @max NCHAR(9)
	IF EXISTS (SELECT SOTK FROM dbo.TaiKhoan)
	BEGIN
		SELECT TOP 1 @max = SOTK FROM dbo.TaiKhoan ORDER BY (SELECT CAST(SOTK AS INT)) DESC
	END
	ELSE
	BEGIN
		SET @max = '1000'
	END
	SELECT RES = (SELECT CAST(@max AS INT)) + 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Check_Trang_Thai_Xoa]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Check_Trang_Thai_Xoa] @MANV NVARCHAR(10)
AS
SELECT TrangThaiXoa FROM dbo.NhanVien WHERE MANV = @MANV
GO
/****** Object:  StoredProcedure [dbo].[sp_chuyen_nhan_vien]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chuyen_nhan_vien] ( @MANV NVARCHAR(10), @MACNHT NVARCHAR(10))
AS
BEGIN
	DECLARE @HO NVARCHAR(40), @TEN NVARCHAR(10), @SDT NVARCHAR(15), @DIACHI NVARCHAR(100), @PHAI NVARCHAR(3), @ROWCOUNT INT, @MACNDEN NVARCHAR(10)
	SELECT @MACNDEN = MACN FROM dbo.ChiNhanh WHERE NOT MACN = @MACNHT
	SELECT @HO=HO, @TEN=TEN, @SDT=SODT, @DIACHI = DIACHI, @PHAI =PHAI FROM dbo.NhanVien WHERE MANV = @MANV AND MACN = @MACNHT
	IF EXISTS (SELECT * FROM dbo.NhanVien WHERE HO =@HO AND @TEN = TEN AND SODT =@SDT AND MACN = @MACNDEN)
	BEGIN
		UPDATE dbo.NhanVien SET TrangThaiXoa = 0 WHERE HO =@HO AND @TEN = TEN AND SODT =@SDT AND MACN = @MACNDEN
	END
	ELSE
	BEGIN
		DECLARE @ma INT, @mastr NVARCHAR(10)
		SELECT TOP 1 @mastr = MANV FROM dbo.NhanVien WHERE MACN = @MACNDEN ORDER BY (SELECT CAST(MANV AS INT)) DESC
		
		SET @ma = (SELECT CAST(@mastr AS INT)) + 2 
		
		SET @mastr = (SELECT CAST(@ma AS NVARCHAR(10)))
		
		INSERT INTO dbo.NhanVien
		(
			MANV,
			HO,
			TEN,
			DIACHI,
			PHAI,
			SODT,
			MACN,
			TrangThaiXoa
		)
		VALUES
		(   @mastr, -- MANV - nchar(10)
			@HO, -- HO - nvarchar(40)
			@TEN, -- TEN - nvarchar(10)
			@DIACHI, -- DIACHI - nvarchar(100)
			@PHAI, -- PHAI - nvarchar(3)
			@SDT, -- SODT - nvarchar(15)
			@MACNDEN, -- MACN - nchar(10)
			0   -- TrangThaiXoa - int
			)
	END
	RETURN 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_chuyen_tien]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_chuyen_tien](@stkc nchar(9), @stkn NCHAR(9), @st INT)
AS
DECLARE @sotienhc INT, @sotientkn INT
BEGIN
	IF NOT EXISTS(SELECT * FROM dbo.TaiKhoan WHERE SOTK = @stkc)
	BEGIN
		RAISERROR('Tài khoản chuyển không tồn tại hoặc đã bị xoá', 16, 1)
		RETURN
	END
	IF NOT EXISTS(SELECT * FROM dbo.TaiKhoan WHERE SOTK =@stkn )
	BEGIN
		RAISERROR('Tài khoản nhận không tồn tại hoặc đã bị xoá', 16, 1)
		RETURN
	END
	SELECT @sotienhc = SODU FROM dbo.TaiKhoan WHERE SOTK =@stkc 
	IF @sotienhc < @st
		BEGIN
			RAISERROR('Tài khoản không đủ số dư để thực hiện giao dịch', 16, 1)
			RETURN
		END
	SELECT @sotientkn = SODU FROM dbo.TaiKhoan WHERE SOTK = @stkn
	UPDATE dbo.TaiKhoan SET SODU = @sotientkn + @st WHERE SOTK = @stkn
	UPDATE dbo.TaiKhoan SET SODU = @sotienhc - @st WHERE SOTK = @stkc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Chuyen_Trang_Thai_Xoa]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Chuyen_Trang_Thai_Xoa](@MANV NVARCHAR(10))
AS
UPDATE dbo.NhanVien SET TrangThaiXoa = 1 WHERE MANV=@MANV 
GO
/****** Object:  StoredProcedure [dbo].[sp_Goi_Rut_Tien]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Goi_Rut_Tien](@stk NCHAR(9), @sotien INT)
AS
DECLARE @sodu INT
IF EXISTS (SELECT * FROM dbo.TaiKhoan WHERE SOTK = @stk)
BEGIN
	SELECT @sodu = @sotien + SODU FROM dbo.TaiKhoan WHERE SOTK = @stk
	IF @sodu < 0	
		RAISERROR('Số dư trong tài khoản không đủ', 16, 1)
	ELSE
		UPDATE dbo.TaiKhoan SET SODU =@sodu WHERE SOTK = @stk
END
ELSE
	RAISERROR('Số tài khoản không tồn tại', 16, 1)
GO
/****** Object:  StoredProcedure [dbo].[sp_Kiem_Tra_STK]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Kiem_Tra_STK] (@stk NCHAR(9))
AS
DECLARE @res INT
IF EXISTS (SELECT * FROM dbo.TaiKhoan WHERE SOTK = @stk)
BEGIN
	SELECT @res = SODU FROM dbo.TaiKhoan WHERE SOTK = @stk
END
ELSE
BEGIN
	SET @res = -1
END
SELECT RES = @res
GO
/****** Object:  StoredProcedure [dbo].[sp_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Lay_Thong_Tin_NV_Tu_Login]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID= uid , @MANV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MANV= @MANV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.NHANVIEN WHERE MANV=@MANV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)

GO
/****** Object:  StoredProcedure [dbo].[sp_lk_khach_hang]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lk_khach_hang](@mcn NCHAR(10))
AS
SELECT * FROM dbo.KhachHang WHERE MACN = @mcn ORDER BY TEN, HO
GO
/****** Object:  StoredProcedure [dbo].[sp_lk_taikhoan_theo_chi_nhanh]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_lk_taikhoan_theo_chi_nhanh] (@mcn NCHAR(10) , @tgtu DATETIME, @tgden DATETIME)
AS
DECLARE @tg DATETIME
SET @tg = (SELECT DATEADD(DAY, 1 , @tgden))
IF @mcn = 'ALL'
BEGIN
	SELECT * FROM dbo.TaiKhoan WHERE CREATE_AT BETWEEN @tgtu AND @tg
END
ELSE
BEGIN
	SELECT * FROM dbo.TaiKhoan WHERE MACN = @mcn AND CREATE_AT BETWEEN @tgtu AND @tg
END
GO
/****** Object:  StoredProcedure [dbo].[sp_sao_ke_giao_dich]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_sao_ke_giao_dich](@stk NCHAR(9), @tgtu DATETIME, @tgden DATETIME , @macn NVARCHAR(10))
AS
IF EXISTS (SELECT * FROM dbo.TaiKhoan WHERE SOTK = @stk)
BEGIN
	DECLARE @tg DATETIME
	SET @tg = (SELECT DATEADD(DAY, 1 , @tgden))
	IF @macn = 'ALL'
	BEGIN
		SELECT NGAYGD,LOAIGD,SOTIEN, SODU AS SODUDAU FROM LINK0.NGANHANG.dbo.GD_GOIRUT WHERE SOTK = @stk AND (NGAYGD BETWEEN @tgtu AND @tg)
		UNION
		SELECT NGAYGD,LOAIGD = 'CT', SOTIEN, SODUTKCHUYEN AS SODUDAU FROM LINK0.NGANHANG.dbo.GD_CHUYENTIEN  WHERE SOTK_CHUYEN = @stk AND (NGAYGD BETWEEN @tgtu AND @tg)
		UNION 
		SELECT NGAYGD,LOAIGD = 'NT', SOTIEN, SODUTKNHAN AS SODUDAU FROM LINK0.NGANHANG.dbo.GD_CHUYENTIEN  WHERE SOTK_NHAN = @stk AND (NGAYGD BETWEEN @tgtu AND @tg)
		UNION 
		SELECT CREATE_AT AS NGAYGD, LOAIGD = 'TTK', SODU AS SOTIEN, SODUDAU = 0 FROM LINK0.NGANHANG.dbo.TaiKhoan WHERE SOTK = @stk AND (CREATE_AT BETWEEN @tgtu AND @tg)
		ORDER BY NGAYGD
	END
	ELSE
	BEGIN
		SELECT NGAYGD,LOAIGD,SOTIEN, SODU AS SODUDAU FROM dbo.GD_GOIRUT WHERE SOTK = @stk AND (NGAYGD BETWEEN @tgtu AND @tg)
		UNION
		SELECT NGAYGD,LOAIGD = 'CT', SOTIEN, SODUTKCHUYEN AS SODUDAU FROM dbo.GD_CHUYENTIEN  WHERE SOTK_CHUYEN = @stk AND (NGAYGD BETWEEN @tgtu AND @tg)
		UNION 
		SELECT NGAYGD,LOAIGD = 'NT', SOTIEN, SODUTKNHAN AS SODUDAU FROM dbo.GD_CHUYENTIEN  WHERE SOTK_NHAN = @stk AND (NGAYGD BETWEEN @tgtu AND @tg)
		UNION 
		SELECT CREATE_AT AS NGAYGD, LOAIGD = 'TTK', SODU AS SOTIEN, SODUDAU = 0 FROM dbo.TaiKhoan WHERE SOTK = @stk AND (CREATE_AT BETWEEN @tgtu AND @tg)
		ORDER BY NGAYGD
	END
END
ELSE
	BEGIN
		RAISERROR('Không tìm thấy tài khoản', 16,1);
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN] (
	@LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
)
AS
	DECLARE @RES INT
	EXEC @RES = sys.sp_addlogin @LGNAME, @PASS, 'NGANHANG'
	IF(@RES = 1) --LOGIN TRUNG
		RETURN 1
	EXEC @RES = sys.sp_grantdbaccess @LGNAME,@USERNAME
	IF(@RES = 1) --User name trung
		BEGIN
			EXEC sys.sp_droplogin @loginame = @LGNAME -- sysname
			RETURN 2
		END
	EXEC sys.sp_addrolemember @rolename = @ROLE,  -- sysname
	                          @membername = @USERNAME -- sysname
	EXEC sys.sp_addsrvrolemember @loginame = @LGNAME, -- sysname
	                             @rolename = 'SecurityAdmin'  -- sysname
	RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNV]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimNV]
	@X INT
AS
	DECLARE @MACN VARCHAR(10), @HO NVARCHAR(40), @TEN NVARCHAR(10)
	IF EXISTS(SELECT MANV FROM dbo.NhanVien WHERE MANV = @X)
	BEGIN
		SELECT TENCN = (SELECT TENCN FROM dbo.ChiNhanh), HO , TEN FROM dbo.NhanVien 
		WHERE MANV =@X
	END
	ELSE
		IF EXISTS(SELECT MANV FROM LINK0.NGANHANG.dbo.NhanVien WHERE MANV =@X)
			BEGIN
				SELECT @MACN = MACN, @HO = HO, @TEN = TEN 
					FROM LINK0.NGANHANG.dbo.NhanVien WHERE MANV =@X
				SELECT TENCN = TENCN , HO = @HO, TEN = @TEN 
					FROM LINK0.NGANHANG.dbo.ChiNhanh WHERE MACN = @MACN
			END
		ELSE
			RAISERROR( 'MA NHAN VIEN BAN TIM KHONG CO TRONG DATABASE', 16, 1)
GO
/****** Object:  StoredProcedure [dbo].[sp_XOALOGIN]    Script Date: 12/14/2021 2:26:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XOALOGIN] (@LGNAME VARCHAR(50), @USENAME VARCHAR(50))
AS
BEGIN
	EXEC sys.sp_dropuser @name_in_db = @USENAME -- sysname
	EXEC sys.sp_droplogin @loginame = @LGNAME -- sysname
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
USE [master]
GO
